#chat-toolbar #search-box-button {
    float: right;
}

#search-box-tab a{
    padding: 0px 10px 10px 10px
}

#search-box-tab a span {
    padding-top: 5px; 
}

input[type='text']#collocutor-search-input{
    padding: 0px 4px;
    height: 34px;
    width: auto;
    border-radius: 4px;
}

.searchList .form-group {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
}

.searchList {
    min-height: 250px;
}

.collocutor-search-result {
    max-height: 300px;
    overflow-y: scroll;
}